.page-packs .page-packs {
    background-color: #212121;
}
.page-packs .packs-container {
    display: flex;
    background-color: var(--color-background);
    padding-block: 3rem;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
}
.page-packs .packs-container input {
    height: 1.25rem;
    width: 1.25rem;
}
.page-packs .packs-container {
    padding-inline: 3rem;
}
.page-packs .comingsoon-container .pack {
    text-align: center;
    padding-top: 10rem;
}
.page-packs .packs-container .cyclespack h4 {
    padding-block: 0.75rem;
}
.page-packs .packs-container .cyclespack td {
    padding-block: 0.5rem;
}
.page-packs .packs-container .cyclespack label {
    padding-left: 0.75rem;
    translate: 0px -1rem;
}
.page-packs .packs-container .coderedpack h4 {
    padding-block: 0.75rem;
    color: #FF0000;
}
.page-packs .packs-container .coderedpack td {
    padding-block: 0.5rem;
}
.page-packs .packs-container .coderedpack label {
    padding-left: 0.75rem;
    translate: 0px -1rem;
